::selection {
	background-color: orange;
}


/* Medium Condensed */

@font-face {
	font-family: 'din-cond-med';
	src: url('fonts/din-cond-med.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Bold Condensed */

@font-face {
	font-family: 'din-cond-bold';
	src: url('fonts/din-cond-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Light Condensed */

@font-face {
	font-family: 'din-cond-light';
	src: url('fonts/din-cond-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Condensed */

@font-face {
	font-family: 'din-cond';
	src: url('fonts/din-cond.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Light */

@font-face {
	font-family: 'din-light';
	src: url('fonts/din-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*  */

@font-face {
	font-family: 'din';
	src: url('fonts/din.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Ultralight */

@font-face {
	font-family: 'din-ultra';
	src: url('fonts/din-ultra.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption);
body {
	background-color: #000000;
	color: white;
	left: 0;
	top: 0;
	display: none;
}

.jumbo {
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	font-family: 'din-cond';
	background: linear-gradient(rgba(0, 0, 0, 1.2), rgba(0, 0, 0, 0.4)), url('napoleon.jpeg');
	background-size: cover;
}

.jumbo .title {
	margin-top: 150px;
}

span:hover {
	opacity: 0.5;
	-webkit-transition: 0.4s ease-in-out;
}

.inline > li:hover {
	border: 1px solid white;
	border-bottom: #FF9A45 solid 1px;
	margin: 0px;
	-webkit-transition: 0.4s ease-in-out;
}

a,
h3 {
	text-align: center;
	text-transform: uppercase;
}

.title p {
	font-family: 'PT Serif Caption';
	font-size: 0.8rem;
	line-height: 1.6rem;
	margin-top: 30px;
	margin-left: 18%;
	margin-right: 18%;
	text-align: center;
	width: 64%;
	position: absolute;
	-webkit-transition: 0.5s ease-in-out;
}

.title p:hover {
	opacity: 0.5;
	-webkit-transition: 0.5s ease-in-out;
	text-shadow: 10px 10px 30px #000000;
	padding-bottom: 2px;
}

h3 {
	color: #F6F6F6;
	font-family: 'din-cond-light';
	font-size: 1.8rem;
	letter-spacing: 0.4rem;
	line-height: 2rem;
	margin-bottom: 40px;
	text-transform: uppercase;
	transition: 0.5s ease;
}

h3:hover {
	transition: 0.5s ease;
	opacity: 0.5;
	font-size: 1.7rem;
}

h1 {
	color: #F6F6F6;
	font-family: 'din-ultra';
	font-size: 10rem;
	letter-spacing: 20px;
	line-height: 8rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	transition: 0.5s ease-in-out;
}

a {
	display: block;
	color: #FFFFFF;
	font-size: 6rem;
	margin-top: 0px;
	font-family: 'din-ultra';
	letter-spacing: 40px;
	text-align: center;
	padding-left: 40px;
	margin-top: 30px;
	line-height: 6rem;
	margin-bottom: 20px;
	-webkit-transition: 0.5s ease-in-out;
}

a:link {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	opacity: 0.5;
	text-shadow: 10px 10px 30px #000000;
	-webkit-transition: 0.5s ease-in-out;
	font-size: 5.6rem;
}

.title {
	text-align: center;
}

.prelude {
	top: 100%;
	width: 100%;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bio.jpeg');
	background-size: cover;
}

.prelude .title {
	margin-top: 140px;
}

.stage-01 .title,
.stage-02 .title,
.stage-03 .title {
	margin-top: 160px;
}

.stage-01,
.stage-02,
.stage-03 {
	top: 0%;
	width: 100%;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	background-size: cover;
}

.stage-01 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('directory.jpeg');
	top: 200%;
}

.stage-02 {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('consulate.jpeg');
	top: 300%;
}

.inline {
	text-decoration: none;
	line-height: 0.8rem;
	margin: 0;
	padding: 0;
}

.inline li {
	display: inline-block;
	padding: 15px;
	font-size: 2rem;
}